.avatar {
  width: $small;
  border-radius: $circle;
}
.avatar-large {
  width: $medium;
  border-radius: $circle;
}
.avatar-team {
  width: $large;
  border-radius: $circle;
}
.avatar-bordered {
  width: $small;
  border-radius: $circle;
  box-shadow: 0 1px 2px $small-opacity;
  border: white $solid-light;
}
.avatar-square {
  width: $small;
  border-radius: 0px;
  box-shadow: 0 1px 2px $small-opacity;
  border: white $solid-light;
}
