/* Card design */
.card {
  height: 230px;
  text-shadow: 0 1px 3px $medium-opacity;
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
}

.card-user {
  position: absolute;
  right: $light;
  top: $light;
}

.card-category {
  position: absolute;
  top: $light;
  left: $light;
  font-size: 20px;
  text-transform: uppercase;
}

.card-description {
  position: absolute;
  bottom: $light;
  left: $light;
  h2 {
  font-size: 24px;
  margin-bottom: $light;
  }
  p {
  font-size: 15px;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  &:hover {
  opacity: 0.1;
  }
}
